/************左边二维码***********************/
.index-floor-ma{/*二维码左外边距*/
	width:84px;
}
.scrollMa{
	position:absolute;
	top:230px;
	left:50%;
	margin-left:-600px;
}
.scrollFixed{
	position:fixed;
	top:20px;
	left:50%;
	margin-left:-600px;
}
.index-floor-ma>div:first-child{/*两个二维码之间的边距*/
	margin-bottom:10px;
}

/******************右边购物车标题***************************/
.index-floor-title{/*标题浮起*/
	width:60px;
	background:#fff;
}
.scrolltitleTop{
	position:absolute;
	top:230px;
	right:50%;
	margin-right:-580px;
}
.scrolltitleFixed{
	position:fixed;
	top:20px;
	right:50%;
	margin-right:-580px;
}
.index-floor-title-cart{/*第二部分设边框*/
	border:1px solid #045321;
	width:58px;
	height:166px;
}
.cartain{
	left:-107px;
	width:77px;
	height:36px;
	background:#045321;
	color:#fff;
	text-align:center;
	line-height:36px;
	position:absolute;
	transition:all .5s linear;
	opacity:0;
}
.cartainf{
	background:url(../img/flag_arrow.png);
	width:4px;
	height:10px;
	position:absolute;
	left:77px;
}
.index-floor-title-cart>div>a:hover+div{
	transform:translate(30px);
	opacity:1;
}
.cv1{	
	top:30px;
}
.cv2{
	top:80px;
}
.cv3{
	top:140px;
}
.cvf1{
	top:-7px;
}
.cv4{
	bottom:65px;
}
.cv5{
	bottom:25px;
}
.cvf2{
	top:12px;
}
.qqwb>div>a:hover+div{
	opacity:1;
	transform:translate(30px);
}
.index-floor-title-cart div{/*第二部分间距*/
	margin-top:20px;
}
.index-floor-title-cart>div:last-child{/*第二部分间距*/
	margin-bottom:10px;
}
.index-floor-title>div:nth-child(3){/*第三部分两边边框*/
	border-left:1px solid #045321;
	border-right:1px solid #045321;
}
.index-floor-middle6-logo div{/*第三部分上面两个小指标*/
	width:10px;
	height:10px;
}
.index-floor-middle6-logo div:first-child{/*左边小指标*/
	background:#045321 url(../img/body/arw_renewal_prev.png) no-repeat center center;
}
.index-floor-middle6-logo div:nth-child(2){/*右边小指标*/
	background:#045321 url(../img/body/arw_renewal_next.png) no-repeat center center;
}
.list-auto{
	margin: 0 auto;
    width: 980px;
    margin-top: 20px;
}
/************导航部分************/
.list-nav{
	border-bottom:1px solid #E0E0E0;
	padding-bottom:15px;
}
.list-nav>ul>li{/*导航浮起*/
	float:left;
	margin-right:10px;
	margin-top:12px;
}
.list-nav>ul>li>a:hover{/*A标记悬停状态*/
	color:#666;
	border-bottom:1px solid #666;
}
/*************下半部************/
.regi{/*下面大框*/
	margin-top:30px;
}
.regil{/*左边框*/
	width:175px;
	height:298px;
	text-align:center;
	background:url(../img/register/BG_lnbUtil.gif) no-repeat left top;
}
.regil>div:first-child{
	margin-bottom:20px;
}
.regil>div:last-child>ul>li{
	margin-bottom:9px;
}
.regir{/*右边大框*/
	margin-top:10px;
	margin-left:25px;
}
.regiru>div:first-child{/*右上*/
	margin-bottom:15px;
}
.regiru>div:nth-child(2){
	margin-bottom:30px;
}
.regirb{/*右下*/
	margin-top:40px;
}
.regirb>div:first-child{
	margin-bottom:20px;
}
.regitable{
	position:relative;
	border-top:1px solid #c4c4c4;
}
.regitable>div:first-child{
	position:absolute;
	right:0;
	top:-20px;
	color:#c5361a;
}
.regitable table tr td:not(:last-child) span{
	color:#c5361a;
	margin-right:5px;
	font-weight:bold;
}
.regitable table{
	width:780px;
	border-collapse:collapse;
}
.regitable table tr td{
	vertical-align:middle;
	line-height:32px;
	border-bottom:1px solid #eaeaea;
}
.regitable table tr:not(:last-child) td:first-child{
	width:124px;
	background:#f8f8f8;
	padding-left:10px;
	font-weight:bold;
}
.regitable table tr:not(:last-child) td:last-child{
	padding-left:15px;
}
.regitable table input{
	border:1px solid #dedede;
	outline:none;
}
.regitable table select{
	width:70px;
	color:#666;
}
.regitable table tr:last-child{
	text-align:center;
}
.regitable table tr:last-child a{
	color:#4585a7;
	text-decoration:underline;
}
.regirbb{
	margin-top:20px;
	margin-left:340px;;
	margin-bottom:40px;
}
.regirbb input{
	width:90px;
	height:23px;
	font-size:11px;
	font-weight:bold;
}

/*验证部分*/
.valispan{
	font-size:14px;
	color:#c5361a;
	margin-left:30px;
}